.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #3a404e;
  text-shadow:0 5px 4px rgb(0, 0, 0);
  color: #fff3f3
}

.options-bar {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Dropdown Button */
.dropdown-button {
  padding: 10px 15px;
  background-color: #ffffff; /* Primary color */
  color: rgb(0, 0, 0);
  border: 1px solid #000000;
  border-radius: 5px;
  cursor:pointer;
}
.dropdown-button:hover {
  background-color: #e3f1ff; /* Darker shade on hover */
}

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  top: 50px; /* Position below the button */
  left: 5px;
  background-color: #ffffff; /* White background for dropdown */
  border: 1px solid #000000; /* Border for dropdown */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.445); /* Subtle shadow */
  z-index: 1000; /* Ensure it appears above other elements */
}

.dropdown-menu button {
  display: block; /* Make each button take full width */
  width: 100%; /* Ensure it takes full width of dropdown */
  padding: 10px; /* Inner padding for buttons */
  background: none; /* No background color */
  border: none; /* No border */
  text-align: left; /* Align text to the left */
  color: #333; /* Dark text color */
  cursor: pointer; /* Pointer cursor on hover */
}
.dropdown-menu button:hover {
  background-color:#00000017
}

.upper-section {
  flex: 1;
  display: flex;
  align-items: top;
  justify-content: center;
  margin-top: 80px;
  margin-left: 0%;
  box-sizing: border-box; /*makes box width fit all sizes*/
  background-color: #8699aa;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}